.u-section-1 .u-sheet-1 {
  min-height: 666px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  width: 596px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  width: 602px;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: 79px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -46px auto 0 265px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: -45px auto 60px 698px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 393px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 141px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 214px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 410px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 141px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}